#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#result-wrap {
  background: #fff url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".04" ><rect x="200" width="200" height="200" /><rect y="200" width="200" height="200" /></svg>');
  background-size: 44px 44px;
  border: 1px solid #bbb;
}